[Unit]
Description=Setup platform csp7551
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-csp7551-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
