[Unit]
Description=onlpd platform manager daemon
After=network.target
ConditionPathExists=/etc/onl/platform

[Service]
ExecStart=@BINDIR@/onlpd -M /run/onlpd.pid
PIDFile=/run/onlpd.pid
Type=simple

[Install]
WantedBy=multi-user.target
