[Unit]
Description=onlpdump platform manager daemon
After=network.target

[Service]
ExecStart=@BINDIR@/onlpdump -M /run/onlpdump.pid
PIDFile=/run/onlpdump.pid
Type=simple

[Install]
WantedBy=multi-user.target
