[Unit]
Description=Setup platform as5835-54x
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-as5835-54x-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
