[Unit]
Description=Setup platform tn48m
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-tn48m-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
