[Unit]
Description=Setup platform as7726-32x
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-as7726-32x-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
