[Unit]
Description=Setup ONL platform
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/platform-onl-init/platform-onl-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
