/*
 * Accton AS4610 54 Device Tree Source
 *
 * Copyright 2015, Cumulus Networks, Inc.
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 *
 */
/dts-v1/;
#include "arm-accton-as4610.dtsi"

/ {
    model = "accton,as4610_30P";
    compatible = "accton,as4610_30P","brcm,helix4";
};

&i2c1 {
        mux@70 {
        // SFP+ 1
        i2c@0 {
            optoe@50 {
                label = "port25";
            };
        };

        // SFP+ 2
        i2c@1 {
            optoe@50 {
                label = "port26";
            };
        };

        // SFP+ 3
        i2c@2 {
            optoe@50 {
                label = "port27";
            };
        };

        // SFP+ 4
        i2c@3 {
            optoe@50 {
                label = "port28";
            };
        };

        // QSFP+ STK1
        i2c@4 {
            optoe@50 {
                label = "port29";
            };
        };

        // QSFP+ STK2
        i2c@5 {
            optoe@50 {
                label = "port30";
            };
        };
    };
};

&uart2 {
	poe-pse {
		compatible = "accton,as4610-poe-pse";

		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			brcm,device = <3>;
			brcm,primary-channel = <6>;
		};

		port@1 {
			reg = <1>;
			brcm,device = <3>;
			brcm,primary-channel = <7>;
		};

		port@2 {
			reg = <2>;
			brcm,device = <3>;
			brcm,primary-channel = <4>;
		};

		port@3 {
			reg = <3>;
			brcm,device = <3>;
			brcm,primary-channel = <5>;
		};

		port@4 {
			reg = <4>;
			brcm,device = <3>;
			brcm,primary-channel = <2>;
		};

		port@5 {
			reg = <5>;
			brcm,device = <3>;
			brcm,primary-channel = <3>;
		};

		port@6 {
			reg = <6>;
			brcm,device = <3>;
			brcm,primary-channel = <0>;
		};

		port@7 {
			reg = <7>;
			brcm,device = <3>;
			brcm,primary-channel = <1>;
		};

		port@8 {
			reg = <8>;
			brcm,device = <2>;
			brcm,primary-channel = <7>;
		};

		port@9 {
			reg = <9>;
			brcm,device = <2>;
			brcm,primary-channel = <6>;
		};

		port@10 {
			reg = <10>;
			brcm,device = <2>;
			brcm,primary-channel = <4>;
		};

		port@11 {
			reg = <11>;
			brcm,device = <2>;
			brcm,primary-channel = <5>;
		};

		port@12 {
			reg = <12>;
			brcm,device = <2>;
			brcm,primary-channel = <2>;
		};

		port@13 {
			reg = <13>;
			brcm,device = <2>;
			brcm,primary-channel = <3>;
		};

		port@14 {
			reg = <14>;
			brcm,device = <2>;
			brcm,primary-channel = <0>;
		};

		port@15 {
			reg = <15>;
			brcm,device = <2>;
			brcm,primary-channel = <1>;
		};

		port@16 {
			reg = <16>;
			brcm,device = <1>;
			brcm,primary-channel = <4>;
			brcm,alternative-channel = <5>;
		};

		port@17 {
			reg = <17>;
			brcm,device = <1>;
			brcm,primary-channel = <6>;
			brcm,alternative-channel = <7>;
		};

		port@18 {
			reg = <18>;
			brcm,device = <1>;
			brcm,primary-channel = <0>;
			brcm,alternative-channel = <1>;
		};

		port@19 {
			reg = <19>;
			brcm,device = <1>;
			brcm,primary-channel = <2>;
			brcm,alternative-channel = <3>;
		};

		port@20 {
			reg = <20>;
			brcm,device = <0>;
			brcm,primary-channel = <4>;
			brcm,alternative-channel = <5>;
		};

		port@21 {
			reg = <21>;
			brcm,device = <0>;
			brcm,primary-channel = <6>;
			brcm,alternative-channel = <7>;
		};

		port@22 {
			reg = <22>;
			brcm,device = <0>;
			brcm,primary-channel = <0>;
			brcm,alternative-channel = <1>;
		};

		port@23 {
			reg = <23>;
			brcm,device = <0>;
			brcm,primary-channel = <2>;
			brcm,alternative-channel = <3>;
		};
	};
};
