[Unit]
Description=Setup platform as4610
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-as4610-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
